body {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  font-style: italic;
}
/* Header */

header {
  color: black;
  background-color: burlywood;
  font-size: 25px;
  font-style: italic;
  border-style: solid;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 50px;
}
/* navigation */

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: right;
  list-style: none;
  padding-right: 10px;
  margin-top: 00%;
}

nav ul li {
  padding: 10px 15px;
}

a {
  color: whitesmoke;
  font-size: 20px;
}

li {
  font-size: 20px;
  text-align: left;
}

/* main content*/

.flex-container {
  display: flex;
  padding: 20px;
  padding-left: 75px;
}

.flex-container div {
  background-color: black;
  color: whitesmoke;
  margin: 00%;
  padding-left: 15%;
  text-align: center;
  font-size: 40px;
}

p {
  color: whitesmoke;
  font-size: 20px;
}

body {
  background-color: black;
}

.flex-container {
  /* Box-model */
  width: 100%;
  padding: 20px;
}

/* Width at 1024px and below */
@media screen and (max-width: 1024px) {
  body {
    background-color: black;
  }

  .flex-container {
    /* Box-model */
    width: 100%;
    padding: 20px;
  }

  /* Width at 768px and below */
  @media screen and (max-width: 768px) {
    body {
      background-color: black;
    }

    .flex-container {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }

    /* Width at 600px and below */
    @media screen and (max-width: 600px) {
      body {
        background-color: black;
      }

      .flex-container {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }

      /* Width at 480px and below */
      @media screen and (max-width: 480px) {
        body {
          background-color: black;
        }

        .flex-container {
          /* Box-model */
          width: 100%;
          padding: 20px;
        }

        /* Width at 300px and below */
        @media screen and (max-width: 300px) {
          body {
            background-color: black;
          }

          .main-content {
            /* Box-model */
            width: 100%;
            padding: 20px;
          }
        }
      }
    }
  }
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: burlywood;
  color: white;
  text-align: center;
}
